API_PORT=8080
DATABASE_URL=jdbc:postgresql://db:5432/jwt_auth_service
DB_USER=postuser
DB_PASSWORD=postpass
DB_NAME=jwt_auth_service
JWT_PRIVATE_KEY_PATH=./keys/private.pem
JWT_PUBLIC_KEY_PATH=./keys/public.pem
